footer
    div(class="footer _container")
      ul.footer__menu
       li.footer__item 
        figure.icon-phone-circled   
        div.footer__text Звоните
          a(href="#" property="telephone") +7(495)000-00-00 
       li.footer__item 
        figure.icon-mail-alt   
        div.footer__text Пишите
         a(href="mailto:ikap509@rambler.ru" property="email") ikap509@rambler.ru 
       li.footer__item 
        figure.icon-vkontakte
        div.footer__text Заходите 
          a(href="https://vk.com/id51069812" property="url") vk.com/id
       li.footer__item 
        figure.icon-copyright 