header
  div(class="header _container")
    div.header__menu 
       ul.header__list 
         li.header__item  Меню
            ul.header__submenu
              li.header__subitems Главная
              li.header__subitems Контакты
    div.header__logo 
    button.header__button Темная тема
  div.header__arrow  